<!-- Search input -->
<form class="company-search-container form-group">
    <input class="form-control" id="company-search-input" type="text" placeholder="Search for a company, e.g. Allianz" ng-model="search.query">
    <button id="company-search-button" class="btn btn-default" type="submit" ng-click="searchForCompany()" >Submit</button>
    <span>Number of results per source :</span><input id="nb-results-input" type="text" ng-model="search.nbResults" value="5" max="25" ng-touch-spin>
</form>

<!-- Error message -->
<div ng-if="error">
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <span ng-bind="error"></span>
    </div>
</div>

<!-- Results from query -->
<div class="data-result">
    <!-- Twitter results -->
    <div class="row">
        <div class="twitter-container col-md-6" ng-if="hasTwitterData">
            <div class="twitter-header">
                <img id="twitter-logo" src="img/twitter-logo.png" /><h2 id="twitter-text">Tweets</h2>
            </div>
            <div class="twitter-data">
                <div class="twitter-tweet" ng-repeat="tweet in tweets">
                    <twitter-widget twitter-widget-id="tweet.id"></twitter-widget>
                </div>
            </div>
        </div>

        <!-- LinkedIn results -->
        <div class="linkedin-container col-md-6" ng-if="hasLinkedInData">
            <div class="linkedin-header">
                <img id="linkedin-logo" src="img/linkedin-logo.png" /><h2 id="linkedin-text" >LinkedIn profiles</h2>
            </div>
            <div class="linkedin-data">
                <div class="linkedin-profile" ng-repeat="linkedInProfile in linkedInProfiles">
                    <h4 class="linkedin-name">
                        <a ng-href="{{ linkedInProfile.link }}" class="linkedin-image"><img class="linkedin-image" ng-src="{{ linkedInProfile.image }}" /><span ng-bind="linkedInProfile.name"></span></a>
                    </h4>

                    <div>
                        <b><span ng-bind="linkedInProfile.headline"></span></b>
                        <ul>
                            <li>Location : <span ng-bind="linkedInProfile.location"></span></li>
                            <li>Field of study : <span ng-bind="linkedInProfile.field"></span></li>
                            <li>Current companies : <span ng-bind="linkedInProfile.currentCompanies"></span></li>
                            <li>Previous companies : <span ng-bind="linkedInProfile.previousCompanies"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Raw content -->
<div ng-if="showRawContent">
    {{ rawResult }}
</div>
