.company-search-container {
  margin-top: 10px;
}

#company-search-input {
  display: inline-block;
  margin-left: 10px;
  margin-right: 5px;
  width: 90%;
}

#nb-results-input {
  width: 15%;
}

#company-search-button {
  display: inline-block;
}

#twitter-logo {
  height: 50px;
  display: inline-block;
  margin-bottom: 15px;
}

#twitter-text {
  display: inline-block;
}

.twitter-header {
  display: inline-block;
}

#linkedin-logo {
  height: 35px;
  display: inline-block;
  margin-bottom: 15px;
  margin-right: 5px;
}

#linkedin-text {
  display: inline-block;
}

.linkedin-container {

}

.linkedin-profile {
  border: 1px solid #e1e8ed;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 5px;
}

.linkedin-image {
  margin-right: 5px;
}

.linkedin-header {
  display: inline-block;
  margin-bottom: 18px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#talents-logo {
  height: 90px;
}


